<template>
    <div class="recipe-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" v-if="image">
                    <img
                        :src="image"
                        :alt="recipe.label"
                        class="img-fluid recipe-detail__image"
                    />
                </div>
                <div class="col-lg-6">
                    <div class="recipe-detail__heading">
                        <h1 class="recipe-detail__title">{{ recipe.label }}</h1>
                        <div class="recipe-detail__bookmark-container">
                            <button
                                v-if="!recipeIsAdded()"
                                class="recipe-detail__bookmark-button"
                                @click="onSaveRecipe"
                            >
                                <span class="recipe-item__bookmark"
                                    ><i class="bi bi-bookmark"></i> Save
                                    recipe</span
                                >
                            </button>
                            <button
                                v-else
                                class="recipe-detail__bookmark-button recipe-detail__bookmark-button--disabled"
                            >
                                <span class="recipe-item__bookmark"
                                    ><i class="bi bi-bookmark"></i> Recipe
                                    saved</span
                                >
                            </button>
                        </div>
                    </div>

                    <p>Source: {{ recipe.source }}</p>

                    <div class="main-features">
                        <div class="main-features__feature">
                            <h2 class="main-features__number">
                                {{ recipe.ingredients.length }}
                            </h2>
                            <h3 class="main-features__text">ingredients</h3>
                        </div>
                        <div class="main-features__feature">
                            <h2 class="main-features__number">
                                {{ recipe.totalTime }}
                            </h2>
                            <h3 class="main-features__text">minutes</h3>
                        </div>
                        <div class="main-features__feature">
                            <h2 class="main-features__number">
                                {{ Math.round(recipe.calories) }}
                            </h2>
                            <h3 class="main-features__text">calories</h3>
                        </div>
                    </div>

                    <div class="ingredients">
                        <div class="ingredients__title">Ingredients</div>
                        <ul class="ingredients__list">
                            <li
                                v-for="(
                                    ingredient, index
                                ) in recipe.ingredients"
                                :key="index"
                                class="ingredients__list-item"
                            >
                                {{ ingredient.quantity }} {{ ingredient.food }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
const props = defineProps<{ recipe: Recipe }>();

const image = computed(() => {
    return props.recipe.images.LARGE
        ? props.recipe.images.LARGE.url
        : props.recipe.images.REGULAR.url;
});

const userRecipeCookie = useCookie("userRecipeCookie");
let userRecipes: string[] = [];

if (userRecipeCookie.value) {
    userRecipes = userRecipeCookie.value as unknown as string[];

    if (typeof userRecipes === "string") {
        // Convert to array
        userRecipes = JSON.parse(userRecipes);
    }
}

const recipeIsAdded = () => {
    const uri = props.recipe.uri.split("#")[1];
    return userRecipes.find((element) => element === uri);
};

const onSaveRecipe = () => {
    //console.log("userRecipeCookie before ", userRecipes);

    //console.log("userRecipes type: ", typeof userRecipes);
    const uri = props.recipe.uri.split("#")[1];

    if (!recipeIsAdded()) {
        userRecipes.push(uri);
        userRecipeCookie.value = JSON.stringify(userRecipes);
    }

    //console.log("userRecipeCookie after ", userRecipes);
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/detail/recipe-detail.scss";
</style>
