<template>
    <section class="latest-recipes">
        <!-- <TitleSection subtitle="" title="Latest asian recipes" /> -->
        <div class="container">
            <h3 class="latest-recipes__title">
                Latest {{ cuisineType }} recipes
            </h3>
            <RecipeList
                :recipes="recipeList"
                :pending="pending"
                :items="items"
            />
        </div>
    </section>
</template>

<script setup lang="ts">
import RecipeList from "~/components/common/RecipeListTwo.vue";

const props = defineProps<{ cuisineType: string }>();
const items = 5;
let recipeList: Ref<Recipes[]> = ref([]);
let pending = ref(true);

onMounted(async () => {
    getRecipies(props.cuisineType);
});

const getRecipies = async (type: string) => {
    pending.value = true;
    const response = await $fetch("/api/recipes", {
        query: {
            cuisineType: type,
        },
    });

    pending.value = false;
    const recipesData: RecipesData = response as RecipesData;

    recipeList.value = recipesData.hits;
    recipeList.value.length = items; // Truncate array
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/home/latest-recipes.scss";
</style>
