<template>
    <section class="our-recipes section">
        <TitleSection subtitle="our recipes" title="Check our yummi recipes" />
        <RecipeMenu @change-tab="onChangeTab" />
        <div class="container">
            <RecipeList
                :recipes="recipeList"
                :pending="pending"
                :items="items"
            />
        </div>
    </section>
</template>

<script setup lang="ts">
import TitleSection from "~/components/common/TitleSection.vue";
import RecipeMenu from "~/components/home/RecipeMenu.vue";
import RecipeList from "~/components/common/RecipeListTwo.vue";

const items = 10;
let recipeList: Ref<Recipes[]> = ref([]);
let pending = ref(true);

onMounted(async () => {
    getRecipies("breakfast");
});

const onChangeTab = async (tab: string) => {
    getRecipies(tab);
};

const getRecipies = async (type: string) => {
    pending.value = true;
    const response = await $fetch("/api/recipes", {
        query: {
            mealType: type,
        },
    });

    pending.value = false;
    const recipesData: RecipesData = response as RecipesData;

    recipeList.value = recipesData.hits;
    recipeList.value.length = items; // Truncate array
};
</script>

<style lang="scss" scoped></style>
