<template>
    <nav class="recipe-menu">
        <ul class="recipe-menu__list">
            <li v-for="tab in tabs" class="recipe-menu__list-item">
                <a
                    @click.prevent="onClick(tab)"
                    href="#"
                    class="recipe-menu__link"
                    :class="{ 'recipe-menu__link--active': tab.active }"
                >
                    {{ tab.name }}
                </a>
            </li>
        </ul>
    </nav>
</template>

<script setup lang="ts">
type Tab = {
    name: string;
    active: boolean;
};

const tabs: Ref<Tab[]> = ref([
    { name: "breakfast", active: true },
    { name: "dinner", active: false },
    { name: "snack", active: false },
    { name: "teatime", active: false },
]);

const emit = defineEmits<{
    changeTab: [tab: string];
}>();

const onClick = (tab: Tab) => {
    let activeTab = tabs.value.find((element) => element.active);
    if (activeTab) activeTab.active = false;
    tab.active = true;
    emit("changeTab", tab.name);
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/home/recipe-menu.scss";
</style>
