<template>
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="banner__title">
                        Enjoy Your Healthy Delicious Food
                    </h2>
                    <p class="banner_exerpt">
                        Sed autem laudantium dolores. Voluptatem itaque ea
                        consequatur eveniet. Eum quas beatae cumque eum quaerat.
                    </p>
                    <input
                        type="text"
                        class="banner__search-input"
                        placeholder="Search recipes e.g: pizza, rice, hamburger"
                        @keyup.enter="onSubmit"
                        v-model="term"
                    />
                    <button class="banner__search-button" @click="onSubmit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="col-sm-6">
                    <img src="/home/home-banner.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </section>
</template>

<script setup lang="ts">
const router = useRouter();
const term = ref("");

const onSubmit = () => {
    if (term.value.trim() && term.value.length > 3)
        router.push({ name: "recipes", query: { term: term.value } });
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/banner.scss";
</style>
