<template>
    <nav class="nav-menu">
        <div class="container">
            <div class="nav-menu__container">
                <div class="nav-menu__logo">
                    <NuxtLink to="/" class="nav-menu__logo-link">
                        <h1 class="nav-menu__logo-title">
                            Yummy
                            <span class="nav-menu__logo-dot">.</span>
                        </h1>
                    </NuxtLink>
                </div>
                <ul class="nav-menu__desktop-list">
                    <li class="nav-menu__desktop-list-item">
                        <NuxtLink to="/" class="nav-menu__desktop-link">
                            Home
                        </NuxtLink>
                    </li>
                    <li class="nav-menu__desktop-list-item">
                        <NuxtLink
                            :to="{ name: 'recipes' }"
                            class="nav-menu__desktop-link"
                        >
                            Recipes
                        </NuxtLink>
                    </li>
                </ul>

                <div
                    :class="[
                        showMobileMenu
                            ? 'nav-menu__mobile-container'
                            : 'nav-menu__mobile-container nav-menu__mobile-container--closed',
                    ]"
                >
                    <i
                        class="bi bi-x nav-menu__close-icon"
                        @click="onCloseMobileMenu"
                    ></i>
                    <ul class="nav-menu__mobile-list">
                        <li class="nav-menu__mobile-list-item">
                            <NuxtLink
                                to="/"
                                class="nav-menu__mobile-link"
                                @click="onClickLinkMobile"
                            >
                                Home
                            </NuxtLink>
                        </li>
                        <li class="nav-menu__mobile-list-item">
                            <NuxtLink
                                :to="{ name: 'recipes' }"
                                class="nav-menu__mobile-link"
                                @click="onClickLinkMobile"
                            >
                                Recipes
                            </NuxtLink>
                        </li>

                        <!-- <li class="nav-menu__mobile-login">
                            <NuxtLink
                                to="/"
                                class="nav-menu__login-button btn btn--red"
                            >
                                Login
                            </NuxtLink>
                        </li> -->
                    </ul>
                </div>

                <i
                    class="bi bi-list nav-menu__hamburger-icon"
                    @click="onShowMobileMenu"
                ></i>

                <div class="nav-menu__login">
                    <NuxtLink
                        :to="{ name: 'my-recipes' }"
                        class="nav-menu__login-button btn btn--red"
                    >
                        My recipes
                    </NuxtLink>
                </div>
            </div>
        </div>
    </nav>
</template>

<script setup lang="ts">
const showMobileMenu = ref(false);

const onShowMobileMenu = (e: Event) => {
    e.preventDefault();
    showMobileMenu.value = true;
};

const onCloseMobileMenu = (e: Event) => {
    e.preventDefault();
    showMobileMenu.value = false;
};

const onClickLinkMobile = (e: Event) => {
    console.log("click mobile");
    showMobileMenu.value = false;
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/nav-menu.scss";
</style>
