<template>
    <div class="recipe-list">
        <div class="container">
            <div v-if="pending" class="row">
                <div
                    v-for="(__placeholder, index) in placeholders"
                    :key="index"
                    class="col-sm-6 col-md-3 col-lg-2"
                >
                    <RecipeItem :placeholder="true" />
                </div>
            </div>
            <div v-else class="row">
                <div
                    v-for="(recipe, index) in recipes"
                    :key="index"
                    class="col-sm-6 col-md-3 col-lg-2"
                >
                    <RecipeItem :recipe="recipe.recipe" />
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import RecipeItem from "./RecipeItem.vue";

const props = defineProps<{
    recipes: Recipes[];
    pending: boolean;
    items: number;
}>();
const placeholders = Array.from(Array(props.items).keys());
console.log("entra");
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/common/recipe-list.scss";
</style>
