<template>
    <div class="recipe-list">
        <div v-if="pending">
            <div class="d-flex flex-wrap">
                <div
                    v-for="(__placeholder, index) in placeholders"
                    :key="index"
                    class="recipe-list__item"
                >
                    <RecipeItem :placeholder="true" />
                </div>
            </div>
        </div>
        <div v-else class="d-flex flex-wrap">
            <div
                v-for="(recipe, index) in recipes"
                :key="index"
                class="recipe-list__item"
                :style="[
                    index < 20 ? { animationDelay: `${100 * index}ms` } : {},
                ]"
            >
                <RecipeItem :recipe="recipe.recipe" />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import RecipeItem from "./RecipeItem.vue";

const props = defineProps<{
    recipes: Recipes[];
    pending: boolean;
    items: number;
}>();
const placeholders = Array.from(Array(props.items).keys());
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/common/recipe-list.scss";
</style>
