<template>
    <div v-if="placeholder" class="recipe-item-placeholder">
        <div class="recipe-item-placeholder__img"></div>
        <h4 class="recipe-item-placeholder__title"></h4>
        <h4 class="recipe-item-placeholder__title"></h4>
        <div class="recipe-item-placeholder__buttons"></div>
    </div>

    <div v-if="recipe" class="recipe-item">
        <NuxtLink
            :to="`/recipes/${recipe.uri.split('#')[1]}`"
            class="recipe-item__link"
        >
            <img
                :src="recipe.image"
                class="img-fluid recipe-item__img"
                :alt="recipe.label"
            />
            <h4 class="recipe-item__title">
                {{ recipe.label.substring(0, 20) }}...
            </h4>
        </NuxtLink>

        <div class="recipe-item__buttons">
            <span class="recipe-item__cooktime"
                ><i class="bi bi-clock recipe-item__cooktime-icon"></i
                >{{ recipe.totalTime }} minutes</span
            >
            <span class="recipe-item__bookmark"
                ><i class="bi bi-bookmark"></i
            ></span>
        </div>
    </div>
</template>

<script setup lang="ts">
defineProps<{ recipe?: Recipe; placeholder?: boolean }>();
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/common/recipe-item.scss";
</style>
