<template>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="footer__logo">
                        <NuxtLink to="/" class="footer__logo-link">
                            <h1 class="footer__logo-title">
                                Yummy
                                <span class="footer__logo-dot">.</span>
                            </h1>
                            <p>Created by Sergio Aristizabal</p>
                        </NuxtLink>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </footer>
</template>

<script setup></script>

<style lang="scss" scoped>
@import "@/assets/scss/components/common/footer.scss";
</style>
