<template>
    <div class="title-section">
        <div class="container">
            <div class="row">
                <h3 class="title-section__subtitle">{{ subtitle }}</h3>
                <h2 class="title-section__title">{{ title }}</h2>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
const props = defineProps<{
    subtitle: string;
    title: string;
}>();
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/common/title-section.scss";
</style>
