.banner {
    background-color: #eee;
    background-size: cover;
    min-height: 60vh;
    padding: rem(60px) 0 rem(60px) 0;
    position: relative;
    width: 100%;

    &__title {
        color: $secondary-color;
        font-size: rem(64px);
        font-weight: 700;
        margin-bottom: rem(20px);
    }

    &__excerpt {
    }
    &__search-input {
        border: rem(1px) solid $gray-color;
        border-radius: rem(5px);
        height: rem(40px);
        outline: none;
        //padding-inline: rem(10px);
        padding: rem(10px) rem(40px) rem(10px) rem(10px);
        width: 80%;
    }
    &__search-button {
        background-color: transparent;
        border: 0;
        height: rem(40px);
        position: relative;
        right: 40px;
    }
}
