.btn {
    text-decoration: none;
    &--red {
        background: $primary-color;
        border-radius: rem(50px);
        color: #fff;
        font-size: rem(14px);
        //margin-left: 30px;
        padding: rem(8px) rem(20px);
        transition: 0.3s;
        &:hover {
            background-color: mix(white, $primary-color, 20%);
            color: white;
        }
    }
}
