.nav-menu {
    background-color: white;
    border-bottom: rem(1px) solid #fff;
    border-color: #eee;

    &__container {
        align-items: center;
        display: flex;
        height: rem(90px);
        justify-content: space-between;
    }
    &__logo {
    }

    &__logo-link {
        color: black;
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }
    &__logo-title {
        display: inline;
        font-family: "Inter", sans-serif;
        font-size: rem(28px);
        font-weight: 700;
        margin: 0;
    }

    &__logo-dot {
        color: $primary-color;
    }

    &__mobile-container {
        background-color: white;
        border-left: rem(1px) solid #666;
        bottom: 0;

        position: fixed;

        right: 0;
        top: 0;
        transition: 0.3s;
        width: 100%;
        z-index: 3;

        &--closed {
            right: -100%;
        }
    }

    &__mobile-list {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: rem(60px);
    }

    &__mobile-list-item {
        margin-bottom: rem(20px);
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__mobile-link {
        color: $gray-color;
        display: block;
        font-size: rem(16px);
        font-weight: 600;
        padding-left: rem(10px);
        position: relative;
        text-decoration: none;
        &:hover {
            color: black;
            &::before {
                background-color: $primary-color;
                bottom: rem(-6px);
                content: "";
                height: rem(2px);
                left: 0;
                position: absolute;
                transition: all 0.3s ease-in-out 0s;
                width: 100%;
            }
        }
    }

    &__close-icon {
        cursor: pointer;
        font-size: rem(45px);
        position: absolute;
        right: 0;
        top: rem(10px);
    }

    &__hamburger-icon {
        cursor: pointer;
        font-size: rem(28px);
    }

    &__mobile-login {
    }

    &__desktop-list {
        display: none;
    }

    &__login {
        display: none;
    }
}

@media (min-width: 576px) {
    .nav-menu {
        &__mobile-container {
            display: none;
        }

        &__desktop-list {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__desktop-list-item {
            margin-right: rem(20px);

            &:last-child {
                margin-right: 0;
            }
        }

        &__desktop-link {
            color: $gray-color;
            font-size: rem(16px);
            font-weight: 600;
            position: relative;
            text-decoration: none;
            &:hover {
                color: black;
                &::before {
                    background-color: $primary-color;
                    bottom: rem(-6px);
                    content: "";
                    height: rem(2px);
                    left: 0;
                    position: absolute;
                    transition: all 0.3s ease-in-out 0s;
                    width: 100%;
                }
            }
        }

        &__hamburger-icon {
            display: none;
        }

        &__login {
            display: block;
        }
    }
}
