<template>
    <div>
        <RecipeDetail :recipe="recipe" />
    </div>
</template>

<script setup lang="ts">
import RecipeDetail from "~/components/recipe/RecipeDetail.vue";

const route = useRoute();
const response = await useFetch("/api/recipe", {
    query: {
        uri: route.params.uri,
    },
});
const recipesData: RecipesData = response.data.value as RecipesData;
const recipeList: Ref<Recipes[]> = ref([]);
let recipe: Recipe;

recipeList.value = recipesData.hits;

if (recipeList.value.length) {
    recipe = recipeList.value[0].recipe;

    useSeoMeta({
        title: `${recipe.label}`,
        ogTitle: `${recipe.label}`,
        description: `Learn to prepare ${recipe.label} and surprise your guests.`,
        ogDescription: `Learn to prepare ${recipe.label} and surprise your guests.`,
        ogImage: recipe.image,
    });
} else {
    throw createError({ statusCode: 404, statusMessage: "Page Not Found" });
}
</script>

<style scoped></style>
