<template>
    <div class="recipes">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="searching-box">
                        <input
                            type="text"
                            class="searching-box__input"
                            placeholder="Search recipes"
                            @keyup.enter="onSubmit"
                            v-model="term"
                        />
                        <button class="searching-box__button" @click="onSubmit">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>

                    <RecipeFilters
                        :showMobileFilters="showMobileFilters"
                        @clicked-filters="onChangeFilters"
                        @close-mobile-filters="showMobileFilters = false"
                    />
                </div>
                <div class="col-lg-9">
                    <div v-if="recipeList.length">
                        <div class="recipes__title-and-filter">
                            <h1 class="recipes__title">All recipes</h1>
                            <button
                                class="recipes__filter-btn d-lg-none"
                                @click="showMobileFilters = !showMobileFilters"
                            >
                                <i class="bi bi-filter"></i> Filters
                            </button>
                        </div>

                        <RecipeList
                            :recipes="recipeList"
                            :pending="pending"
                            :items="items"
                        />
                        <div class="d-flex justify-content-center">
                            <button
                                v-if="showLoadMoreButton"
                                class="recipes__show-more-btn"
                                @click="addItems"
                            >
                                Show more
                            </button>
                        </div>
                    </div>
                    <div v-else>
                        <h3>{{ notFoundMessage }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import RecipeList from "~/components/common/RecipeListTwo.vue";
import RecipeFilters from "~/components/recipes/RecipeFilters.vue";

useSeoMeta({
    title: `All our recipes`,
    ogTitle: `All our recipes`,
    description: `Explore our recipes and learn how to prepare it.`,
    ogDescription: `Explore our recipes and learn how to prepare it.`,
});

const route = useRoute();
const router = useRouter();
const term: Ref<string | undefined> = ref(route.query.term as string);
const items = 20;
let recipeList: Ref<Recipes[]> = ref([]);
let pending = ref(true);
const showMobileFilters = ref(false);
const filtersApplied = ref({});
const notFoundMessage = ref("");
let nextLinks = "";
const showLoadMoreButton = ref(false);

onMounted(async () => {
    getRecipies();
});

const getRecipies = async () => {
    pending.value = true;
    let query: object = {};
    /*  if (Object.keys(filtersApplied.value).length) {
        console.log("filtersApplied.value ", filtersApplied.value);
    } */

    if (
        term.value !== null &&
        term.value !== undefined &&
        term.value?.trim() !== ""
    ) {
        query = { q: term.value, ...filtersApplied.value };
    } else {
        query = { q: "latest", ...filtersApplied.value };
    }

    const response = await $fetch("/api/recipes", {
        query,
    });

    pending.value = false;
    const recipesData: RecipesData = response as RecipesData;

    if (recipesData.count > 0) {
        recipeList.value = recipesData.hits;

        if (recipesData._links.next?.href) {
            nextLinks = recipesData._links.next.href;
            showLoadMoreButton.value = true;
        } else {
            showLoadMoreButton.value = false;
        }

        //recipeList.value.length = items; // Truncate array
        //console.log("recipeList ", recipeList.value);
    } else {
        recipeList.value = [];
        notFoundMessage.value = "No recipes found.";
    }
};

const addItems = async () => {
    const response = await $fetch(nextLinks);
    const recipesData: RecipesData = response as RecipesData;

    if (recipesData.count > 0) {
        recipesData.hits.forEach((element) => {
            if (element) {
                recipeList.value.push(element);
            }
        });

        if (recipesData._links.next?.href) {
            nextLinks = recipesData._links.next.href;
        } else {
            showLoadMoreButton.value = false;
        }
    }
};

const onSubmit = () => {
    router.push({ name: "recipes", query: { term: term.value } });
    getRecipies();
};

const onChangeFilters = (filters: object) => {
    filtersApplied.value = filters;
    getRecipies();
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/recipes/recipes.scss";
</style>
