.footer {
    margin: rem(60px) 0 rem(10px) 0;
    &__logo {
        text-align: center;
    }

    &__logo-link {
        color: black;
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }
    &__logo-title {
        display: inline;
        font-family: "Inter", sans-serif;
        font-size: rem(28px);
        font-weight: 700;
        margin: 0;
    }

    &__logo-dot {
        color: $primary-color;
    }
    p {
        font-size: rem(12px);
    }
}
