.recipe-list {
    margin-top: rem(10px);
    &__item {
        animation: fade-in 500ms ease forwards;
        /* border: 1px solid red; */
        //margin-right: 10px;
        position: relative;
        transform: translateY(30px);
        width: 100%;
        /* &:nth-child(5n + 5) {
            margin-right: 0;
        } */
    }
}
@media (min-width: 576px) {
    .recipe-list {
        &__item {
            //margin-right: 20px;

            width: 48.5%;

            /* &:nth-child(2n + 2) {
                margin-right: 0;
            } */
        }
    }
}
@media (min-width: 992px) {
    .recipe-list {
        &__item {
            //margin-right: 10px;

            width: 25%;

            /*  &:nth-child(2n + 2) {
                margin-right: auto;
            }
 */
            /*  &:nth-child(4n + 4) {
                margin-right: 0;
            } */
        }
    }
}

@media (min-width: 1200px) {
    .recipe-list {
        &__item {
            //margin-right: 10px;

            width: 20%;

            /* &:nth-child(2n + 2) {
                margin-right: auto;
            } */

            /* &:nth-child(4n + 4) {
                margin-right: auto;
            } */

            &:nth-child(5n + 5) {
                margin-right: 0;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        //opacity: 0;
        transform: translateY(30px);
    }
    100% {
        //opacity: 1;
        transform: translateY(0);
    }
}
