.recipe-item {
    margin-bottom: rem(20px);
    padding: rem(10px);
    text-align: center;

    &__link {
        text-decoration: none;
    }
    &__img {
        border-radius: rem(5px);
        margin-bottom: rem(15px);
        /* padding: 0 rem(60px); */
    }

    &__title {
        color: $secondary-color;
        font-size: rem(16px);
        font-weight: rem(30px);
        font-weight: bold;
        height: rem(40px);
        margin-bottom: rem(5px);
        text-align: left;
    }

    &__buttons {
        align-items: center;
        display: flex;
        font-size: rem(14px);
        justify-content: space-between;
    }
    &__cooktime {
    }
    &__cooktime-icon {
        margin-right: rem(5px);
    }

    &__bookmark {
        align-items: center;
        background-color: mix(white, $secondary-color, 95%);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: rem(25px);
        justify-content: center;
        width: rem(25px);
        &:hover {
            background-color: mix(white, $secondary-color, 90%);
        }
    }
}

@media (min-width: 576px) {
    .recipe-item {
        &__title {
            padding: 0 rem(10px);
        }
        &__buttons {
            padding: 0 rem(10px);
        }
    }
}

@media (min-width: 992px) {
    .recipe-item {
        &__title {
            padding: 0;
        }
        &__buttons {
            padding: 0;
        }
    }
}

@keyframes placeholder-loading {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}

.recipe-item-placeholder {
    margin-bottom: rem(20px);
    padding: rem(10px);
    text-align: center;
    text-align: center;

    &__img {
        animation: placeholder-loading 500ms linear infinite alternate;
        aspect-ratio: 1/1;
        background-color: mix(white, $gray-color, 60%);
        border-radius: rem(5px);
        margin-bottom: rem(15px);
        max-height: rem(300px);
        max-width: rem(300px);
        width: 100%;
        /* padding: 0 rem(60px); */
    }

    &__title {
        animation: placeholder-loading 500ms linear infinite alternate;
        background-color: mix(white, $gray-color, 60%);
        height: rem(16px);
        width: 50%;
    }

    &__buttons {
        animation: placeholder-loading 500ms linear infinite alternate;
        background-color: mix(white, $gray-color, 60%);
        height: rem(14px);
        width: 80%;
    }
    &__cooktime {
    }
    &__cooktime-icon {
        margin-right: rem(5px);
    }

    &__bookmark {
        align-items: center;
        background-color: mix(white, $secondary-color, 95%);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        height: rem(25px);
        justify-content: center;
        width: rem(25px);
        &:hover {
            background-color: mix(white, $secondary-color, 90%);
        }
    }
}
