.title-section {
    text-align: center;
    &__subtitle {
        color: #676775;
        font-size: rem(14px);
        margin-bottom: 0;
        text-transform: uppercase;
    }
    &__title {
        color: $primary-color;
        font-size: 36px;
        font-weight: 600;
    }
}
