<template>
    <div
        class="recipe-filters"
        :class="[showMobileFilters ? '' : 'recipe-filters--closed']"
    >
        <h5><i class="bi bi-filter"></i> Filters</h5>
        <i
            class="bi bi-x recipe-filters__close-icon"
            @click="$emit('closeMobileFilters', true)"
        ></i>
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#cooking-time-filter"
                        aria-expanded="false"
                        aria-controls="cooking-time-filter"
                    >
                        <i class="bi bi-clock accordion__icon"></i>Cooking time
                    </button>
                </h2>
                <div
                    id="cooking-time-filter"
                    class="accordion-collapse collapse"
                >
                    <div class="accordion-body">
                        <div class="filter">
                            <span
                                v-for="(item, index) in cookingRanges"
                                :key="index"
                                class="filter__item"
                                :class="[
                                    item.active ? 'filter__item--active' : '',
                                ]"
                                @click="
                                    onClickFilter('cookingTimeFilter', item)
                                "
                                >{{ item.label }} minutes</span
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#diet-filter"
                        aria-expanded="false"
                        aria-controls="diet-filter"
                    >
                        <i class="bi bi-flower2 accordion__icon"></i>Diet
                    </button>
                </h2>
                <div id="diet-filter" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="filter">
                            <span
                                v-for="(item, index) in dietLabels"
                                :key="index"
                                class="filter__item"
                                :class="[
                                    item.active ? 'filter__item--active' : '',
                                ]"
                                @click="onClickFilter('dietFilter', item)"
                                >{{ item.label }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#ingredient-filter"
                        aria-expanded="false"
                        aria-controls="ingredient-filter"
                    >
                        <i class="bi bi-cookie accordion__icon"></i> Ingredients
                    </button>
                </h2>
                <div id="ingredient-filter" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="filter">
                            <span
                                v-for="(item, index) in ingredientRanges"
                                :key="index"
                                class="filter__item"
                                :class="[
                                    item.active ? 'filter__item--active' : '',
                                ]"
                                @click="onClickFilter('ingredientFilter', item)"
                                >{{ item.label }} ingredients
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
const props = defineProps<{
    showMobileFilters: boolean;
}>();
type Filter = {
    active: boolean;
    label: string;
};
const cookingRanges: Ref<Filter[]> = ref([
    { active: false, label: "1-5" },
    { active: false, label: "5-10" },
    { active: false, label: "10-15" },
    { active: false, label: "20-30" },
    { active: false, label: "30-40" },
    { active: false, label: "40-50" },
    { active: false, label: "50-60" },
]);
const dietLabels: Ref<Filter[]> = ref([
    { active: false, label: "balanced" },
    { active: false, label: "high-fiber" },
    { active: false, label: "high-protein" },
    { active: false, label: "low-carb" },
    { active: false, label: "low-fat" },
    { active: false, label: "low-sodium" },
]);

const ingredientRanges: Ref<Filter[]> = ref([
    { active: false, label: "1-5" },
    { active: false, label: "5-10" },
    { active: false, label: "10-20" },
    { active: false, label: "20-30" },
]);

type Filters = {
    time: string | null;
    diet: string | null;
};
const appliedFilters: Ref<Filters> = ref({ time: null, diet: null });
const emit = defineEmits<{
    clickedFilters: [filters: object];
    closeMobileFilters: [visible: boolean];
}>();
const onClickFilter = (
    type: string,
    filter: { active: boolean; label: string }
) => {
    switch (type) {
        case "cookingTimeFilter":
            toggleFilter("time", cookingRanges.value, filter);
            break;
        case "dietFilter":
            toggleFilter("diet", dietLabels.value, filter);
            break;
        case "ingredientFilter":
            toggleFilter("ingr", ingredientRanges.value, filter);
            break;

        default:
            break;
    }

    // Remove null values from object
    Object.keys(appliedFilters.value).forEach((key) => {
        if (appliedFilters.value[key as keyof Filters] === null) {
            delete appliedFilters.value[key as keyof Filters];
        }
    });

    emit("clickedFilters", appliedFilters.value);
};

const toggleFilter = (
    filterType: string,
    filter: Filter[],
    filterSelected: Filter
) => {
    let filterActive = filter.find((element) => element.active);

    if (filterActive && filterActive.label === filterSelected.label) {
        filterActive.active = false;
        appliedFilters.value[filterType as keyof Filters] = null;
    } else {
        if (filterActive) filterActive.active = false;
        filterSelected.active = true;
        appliedFilters.value[filterType as keyof Filters] =
            filterSelected.label;
    }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/recipes/filters.scss";
</style>
