.recipe-filters {
    background-color: white;
    bottom: 0;
    box-shadow: 10px 0 5px -2px #e7e7e7;
    left: 0;
    overflow-y: auto;
    padding: rem(20px);
    position: fixed;
    top: 0;
    transition: 0.3s;
    width: 70%;
    z-index: 2;

    &__close-icon {
        cursor: pointer;
        font-size: rem(35px);
        position: absolute;
        right: rem(10px);
        top: rem(10px);
    }

    &--closed {
        left: -100%;
    }
}
@media (min-width: 992px) {
    .recipe-filters {
        border: 0;
        box-shadow: none;
        display: block;
        overflow-y: auto;
        padding: 0;
        position: initial;
        width: 100%;
        &__close-icon {
            display: none;
        }
    }
}
.accordion {
    margin-top: rem(20px);
    &__icon {
        margin-right: rem(10px);
    }
}
.accordion-body {
    padding-left: rem(5px);
    padding-right: rem(5px);
}

.accordion-button:not(.collapsed) {
    background-color: mix(white, $gray-color, 80%);
}
.accordion-button:focus {
    box-shadow: none;
}

.filter {
    &__item {
        border: rem(1px) solid $gray-color;
        border-radius: rem(5px);
        cursor: pointer;
        display: inline-block;
        font-size: rem(14px);
        margin-bottom: rem(5px);
        margin-right: rem(5px);
        padding: rem(5px);
        &--active {
            background-color: mix(white, $primary-color, 75%);
        }
    }
}
