.recipes {
    margin-top: rem(20px);

    &__title-and-filter {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    &__filter-btn {
        align-items: center;
        background-color: mix(white, $gray-color, 90%);
        border: 0;
        border-radius: rem(5px);
        /* display: flex; */
        font-size: rem(12px);
        height: rem(40px);
        padding: rem(10px);
        &:hover {
            background-color: mix(white, $gray-color, 70%);
        }
    }
    &__show-more-btn {
        align-items: center;
        background-color: mix(white, $gray-color, 90%);
        border: 0;
        border-radius: rem(5px);
        font-size: rem(16px);
        height: rem(40px);
        line-height: rem(16px);
        margin-top: rem(20px);
        padding: rem(10px);
        &:hover {
            background-color: mix(white, $gray-color, 70%);
        }
    }
}
.searching-box {
    margin-bottom: rem(20px);
    position: relative;
    &__input {
        border: rem(1px) solid $gray-color;
        border-radius: rem(5px);
        height: rem(40px);
        outline: none;
        padding-inline: rem(10px);
        width: 100%;
    }
    &__button {
        background-color: transparent;
        border: 0;
        height: rem(40px);
        position: relative;
        position: absolute;
        right: 10px;
    }
}

/* .accordion {
    &__item {
    }
    &__button {
        cursor: pointer;
    }
}
 */
