<template>
    <div>
        <NavMenu />
        <slot />
        <Footer />
    </div>
</template>

<script setup lang="ts">
import NavMenu from "~/components/common/NavMenu.vue";
import Footer from "~/components/common/TheFooter.vue";

useHead({
    titleTemplate: (titleChunk) => {
        return titleChunk ? `${titleChunk} - Nuxt3 Recipes` : "Nuxt3 Recipes";
    },
    meta: [
        {
            name: "description",
            content: "Find all kinds of recipes for your next delicious dish.",
        },
    ],
});
</script>

<style lang="scss">
body {
    font-family: "Inter", sans-serif;
    font-size: rem(16px);
    margin: 0;
}
.section {
    padding: rem(80px) 0;
}
</style>
