.recipe-menu {
    display: flex;
    justify-content: center;
    margin-bottom: rem(40px);
    margin-top: rem(40px);

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin-right: rem(20px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: $gray-color;
        font-size: rem(18px);

        position: relative;
        text-decoration: none;
        text-transform: capitalize;

        &::before {
            background-color: $gray-color;
            bottom: rem(-6px);
            content: "";
            height: rem(2px);
            left: 0;
            position: absolute;
            transition: all 0.3s ease-in-out 0s;
            width: 100%;
        }
        &:hover {
            color: $primary-color;
            &::before {
                background-color: mix(white, $gray-color, 55%);
            }
        }

        &--active {
            color: $primary-color;
            &:hover {
                color: $primary-color;
                &::before {
                    background-color: $primary-color;
                }
            }
            &::before {
                background-color: $primary-color;
            }
        }
    }
}
