<template>
    <div>
        <Banner />
        <OurRecipes />
        <LatestRecipes cuisineType="asian" />
        <LatestRecipes cuisineType="french" />
    </div>
</template>

<script setup lang="ts">
import Banner from "~/components/common/Banner.vue";
import OurRecipes from "~/components/home/OurRecipes.vue";
import LatestRecipes from "~/components/home/LatestRecipes.vue";
</script>

<style scoped></style>
