<template>
    <div class="recipes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1 class="recipes__title">My recipes</h1>

                        <RecipeList
                            :recipes="recipeList"
                            :pending="pending"
                            :items="items"
                        />
                        <div class="text-center" v-if="errorMessage">
                            <h3>{{ errorMessage }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import RecipeList from "~/components/common/RecipeListTwo.vue";

useSeoMeta({
    title: `My recipes`,
    ogTitle: `My recipes`,
    description: `Come back to review your favorite recipes.`,
    ogDescription: `Come back to review your favorite recipes.`,
});

const userRecipeCookie = useCookie("userRecipeCookie")
    .value as unknown as string[];

const items = 20;
let recipeList: Ref<Recipes[]> = ref([]);
let pending = ref(true);
const errorMessage = ref("");

onMounted(async () => {
    if (userRecipeCookie) {
        userRecipeCookie.forEach(async (uri) => {
            try {
                const response = await $fetch("/api/recipe", {
                    query: {
                        uri: uri,
                    },
                });

                const recipesData: RecipesData = response as RecipesData;

                if (recipesData.count > 0) {
                    recipeList.value.push(recipesData.hits[0]);
                }
            } catch (error) {
                errorMessage.value = "Too many request. Please try later.";
            }
        });
    } else {
        errorMessage.value = "You don't have recipes yet.";
    }

    pending.value = false;
});
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/recipes/recipes.scss";
</style>
