.recipe-detail {
    margin-top: rem(40px);
    &__image {
        border-radius: rem(5px);
    }
    &__heading {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        width: 70%;
    }
    &__bookmark-container {
        flex-grow: 1;
        text-align: right;
    }

    &__bookmark-button {
        align-items: center;
        background-color: mix(white, $gray-color, 90%);
        border: 0;
        border-radius: rem(5px);
        /* display: flex; */
        font-size: rem(12px);
        height: rem(40px);
        padding: rem(10px);
        &:hover {
            background-color: mix(white, $gray-color, 70%);
        }

        &--disabled {
            background-color: mix(white, $primary-color, 80%);
            cursor: initial;
        }
        &--disabled:hover {
            background-color: mix(white, $primary-color, 80%);
        }
    }
}
.main-features {
    align-items: center;
    display: flex;
    height: rem(100px);
    justify-content: center;
    margin: rem(40px) 0;

    &__feature {
        border-right: rem(1px) solid mix(white, $gray-color, 80%);
        flex-grow: 1;
        text-align: center;
        &:last-child {
            border-right: 0;
        }
    }
    &__number {
        font-size: rem(54px);
    }
    &__text {
        font-size: rem(14px);
        text-transform: capitalize;
    }
}

.ingredients {
    &__title {
        border-bottom: rem(1px) solid mix(white, $gray-color, 80%);
        font-size: rem(18px);
        font-weight: bold;
        margin-bottom: rem(20px);
        padding: rem(10px) 0;
    }
    &__list {
    }
    &__list-item {
    }
}
